<div class="row">
	<div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="<%= admin_manage_path %>"><i class="icon-chevron-right"></i>manage blogs</a></li>
          <li class="active"><a href="<%= admin_approved_path %>"><i class="icon-chevron-right"></i> approved blogs</a></li>
          <li><a href="<%= admin_pending_path %>"><i class="icon-chevron-right"></i> pending blogs</a></li>
          <li><a href="<%= admin_rejected_path %>"><i class="icon-chevron-right"></i> rejected blogs</a></li>
        </ul>
  	</div>

  	<div class="span10">
				<%= render "shared/blogs" %>
	 </div>
</div>