<div class="alert" data-bind="visible: alertVisible, text: alertText">
  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
</div>

<div class="row">
	<div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="active"><a href="<%= admin_manage_path %>"><i class="icon-chevron-right"></i>manage blogs</a></li>
          <li><a href="<%= admin_approved_path %>"><i class="icon-chevron-right"></i> approved blogs</a></li>
          <li><a href="<%= admin_pending_path %>"><i class="icon-chevron-right"></i> pending blogs</a></li>
          <li><a href="<%= admin_rejected_path %>"><i class="icon-chevron-right"></i> rejected blogs</a></li>
        </ul>
  	</div>

  	<div class="span10" data-bind="foreach: blogs">
  		<div class="span4">
			<h2 data-bind="text: blog.name"></h2>
			<h4 data-bind="text: blog.description"></h4>
			<a data-bind="href: blog.url, text: blog.url"></a>
			<div data-bind="text: formatDate(date)">
			</div>
			<div data-bind="text: blog.user_email">
			</div>
			<div data-bind="text: guest_email">
			</div>
			<select data-bind="options: $parent.statuses, value: status, event: {change: $parent.statusChanged } "></select>
  		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		var viewModel = {
			alertVisible: ko.observable(false),
			alertText: ko.observable(),
			blogs: ko.observableArray(),
			// hard code later?
			statuses: [ "<%= BlogStatus.approved %>", "<%= BlogStatus.pending %>", "<%= BlogStatus.rejected %>", "<%= BlogStatus.sold %>" ],
			// move out to its own function later on...
			statusChanged: null
		};

		var sc = function(data, event){
			$.ajax({
				url: "<%= admin_updatestatus_path %>",
				data: { "blog_id" : data.blog_id, "status": data.status },
				type: "PUT",
				success: function(response){
					viewModel.alertText("Added new status of " + data.status + " to " + data.blog.name);
					viewModel.alertVisible(true);
				},
				error: function(a, b, errorMessage) {
					viewModel.alertText(errorMessage);
					viewModel.alertVisible(true);
				}
			});
		};

		// I don't like setting up the function this way, but other ways were giving me problems
		viewModel.statusChanged = sc;

		$.ajax({
			url: "<%= admin_blogs_path %>",
			success: function(data){
				for(var i = 0; i < data.length; i++){
					viewModel.blogs.push(data[i]);
				}
			}
		});

		ko.applyBindings(viewModel);
	});
</script>