<% @blog_statuses.each do |blog_status| %>
	<div class="span4" >
		<h2><%= blog_status.blog.name %></h2>
		<h4><%= blog_status.blog.description %></h4>
		<a href="<%= blog_status.blog.url %>"><%= blog_status.blog.url %></a>
		<div>
			<%= blog_status.blog.user_email %>
		</div>
		<div>
			<%= formatDate(blog_status.date) %>	
		</div>
	</div>
<% end %>