<!DOCTYPE html>
<html>
<head>
	<title>Guest Blogging Network - Guestt Marketplaceb s</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<!-- Le styles -->
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
	<%= javascript_include_tag "application" %>
	<script src="/assets/bootstrap.js" ></script>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= homeclass %>"><%= link_to "guestt", root_path %></li>
              
              <!-- guest menu item-->
              <li class="<%= guestclass %> dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">guest <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= guest_path %>">guest</a>
                  </li>
                </ul>
              </li>

              <!-- blog owner menu item-->
              <li class="<%= blogownerclass %> dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">blog owner <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= blogowner_path %>">blog owner</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <!-- user sign in location -->
            <div class="navbar pull-right">
            	<% if user_signed_in? %>
					       <span>
					         <span style="color: gray"><%= "#{current_user.email} (#{current_user.role})" %>, not you?</span>
						       <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
					       </span>
      				<% else %>
      					<%= link_to "Sign In", new_user_session_path, :class => "brand" %>
      				<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
      <hr>
      <footer>
		<p class="muted">© guestt 2013    <a href="/terms.html" class="muted"><small>Terms & Conditions</small></a></p>
	  </footer>
    </div> <!-- /container -->
	
</body>
</html>
